definitions:
  services:
    docker:
      image: "docker:dind"
pipelines:
  branches:
    master:
      - step:
          runs-on:
            - "self.hosted"
            - "linux"
          name: "preview-nonprod"
          image: "dnxbrasil/pulumi:3.40.0"
          script:
            - "output=$(aws sts assume-role --role-arn \"arn:aws:iam::536403301311:role/InfraDeployAccess\" --role-session-name SessionInfraDeployAccess)"
            - "export AWS_ACCESS_KEY_ID=$(echo $output | jq -r '.Credentials''.AccessKeyId')"
            - "export AWS_SECRET_ACCESS_KEY=$(echo $output | jq -r '.Credentials''.SecretAccessKey')"
            - "export AWS_SESSION_TOKEN=$(echo $output | jq -r '.Credentials''.SessionToken')"
            - "npm install"
            - "pulumi stack select nonprod"
            - "pulumi preview"
          services:
            - "docker"
          caches:
            - "docker"
      - step:
          runs-on:
            - "self.hosted"
            - "linux"
          name: "apply-nonprod"
          image: "dnxbrasil/pulumi:3.40.0"
          trigger: "manual"
          script:
            - "output=$(aws sts assume-role --role-arn \"arn:aws:iam::536403301311:role/InfraDeployAccess\" --role-session-name SessionInfraDeployAccess)"
            - "export AWS_ACCESS_KEY_ID=$(echo $output | jq -r '.Credentials''.AccessKeyId')"
            - "export AWS_SECRET_ACCESS_KEY=$(echo $output | jq -r '.Credentials''.SecretAccessKey')"
            - "export AWS_SESSION_TOKEN=$(echo $output | jq -r '.Credentials''.SessionToken')"
            - "npm install"
            - "pulumi stack select nonprod"
            - "pulumi apply -y"
          services:
            - "docker"
          caches:
            - "docker"
      - step:
          runs-on:
            - "self.hosted"
            - "linux"
          name: "preview-prod"
          image: "dnxbrasil/pulumi:3.40.0"
          script:
            - "output=$(aws sts assume-role --role-arn \"arn:aws:iam::669488784104:role/InfraDeployAccess\" --role-session-name SessionInfraDeployAccess)"
            - "export AWS_ACCESS_KEY_ID=$(echo $output | jq -r '.Credentials''.AccessKeyId')"
            - "export AWS_SECRET_ACCESS_KEY=$(echo $output | jq -r '.Credentials''.SecretAccessKey')"
            - "export AWS_SESSION_TOKEN=$(echo $output | jq -r '.Credentials''.SessionToken')"
            - "npm install"
            - "pulumi stack select prod"
            - "pulumi preview"
          services:
            - "docker"
          caches:
            - "docker"
      - step:
          runs-on:
            - "self.hosted"
            - "linux"
          name: "apply-prod"
          image: "dnxbrasil/pulumi:3.40.0"
          trigger: "manual"
          script:
            - "output=$(aws sts assume-role --role-arn \"arn:aws:iam::669488784104:role/InfraDeployAccess\" --role-session-name SessionInfraDeployAccess)"
            - "export AWS_ACCESS_KEY_ID=$(echo $output | jq -r '.Credentials''.AccessKeyId')"
            - "export AWS_SECRET_ACCESS_KEY=$(echo $output | jq -r '.Credentials''.SecretAccessKey')"
            - "export AWS_SESSION_TOKEN=$(echo $output | jq -r '.Credentials''.SessionToken')"
            - "npm install"
            - "pulumi stack select prod"
            - "pulumi apply -y"
          services:
            - "docker"
          caches:
            - "docker"
      - step:
          runs-on:
            - "self.hosted"
            - "linux"
          name: "preview-shared"
          image: "dnxbrasil/pulumi:3.40.0"
          script:
            - "output=$(aws sts assume-role --role-arn \"arn:aws:iam::236455091556:role/InfraDeployAccess\" --role-session-name SessionInfraDeployAccess)"
            - "export AWS_ACCESS_KEY_ID=$(echo $output | jq -r '.Credentials''.AccessKeyId')"
            - "export AWS_SECRET_ACCESS_KEY=$(echo $output | jq -r '.Credentials''.SecretAccessKey')"
            - "export AWS_SESSION_TOKEN=$(echo $output | jq -r '.Credentials''.SessionToken')"
            - "npm install"
            - "pulumi stack select shared"
            - "pulumi preview"
          services:
            - "docker"
          caches:
            - "docker"
      - step:
          runs-on:
            - "self.hosted"
            - "linux"
          name: "apply-shared"
          image: "dnxbrasil/pulumi:3.40.0"
          trigger: "manual"
          script:
            - "output=$(aws sts assume-role --role-arn \"arn:aws:iam::236455091556:role/InfraDeployAccess\" --role-session-name SessionInfraDeployAccess)"
            - "export AWS_ACCESS_KEY_ID=$(echo $output | jq -r '.Credentials''.AccessKeyId')"
            - "export AWS_SECRET_ACCESS_KEY=$(echo $output | jq -r '.Credentials''.SecretAccessKey')"
            - "export AWS_SESSION_TOKEN=$(echo $output | jq -r '.Credentials''.SessionToken')"
            - "npm install"
            - "pulumi stack select shared"
            - "pulumi apply -y"
          services:
            - "docker"
          caches:
            - "docker"
